<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bone Type Detection System</title>
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='styles/index.css')}}"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='styles/home.css')}}"
		/>
		<link
		rel="stylesheet"
			href="{{url_for('static',filename='styles/components/header.css')}}"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='styles/components/footer.css')}}"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='styles/components/loader.css')}}"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='styles/prediction.css')}}"
		/>
	</head>
	<body></body>
</html>
