<footer>
    <h3>Pillai College of Engineering || COMP-IT Collaboration</h3>
    <div class="authors">
        <div class="author">
            <div class="name">
                RUSHIKESH KALE
            </div>
            <div class="roll_no">
                
            </div>
        </div>
        <div class="author">
            <div class="name">
                SHIVKUMAR G. CHAUHAN
            </div>
            <div class="roll_no">
                CS8A53
            </div>
        </div>
        <div class="author">
            <div class="name">
                INGALE MAYUR TATYASO
            </div>
            <div class="roll_no">
                CS8A12
            </div>
        </div>
        <div class="author">
            <div class="name">
                RUSHIKESH GHODAKE
            </div>
            <div class="roll_no">
                
            </div>
        </div>
    </div>
</footer>