.home_section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    flex-wrap: wrap;
}

.home_section .dectecton_nav{
    width: 300px;
    height: 200px;
    padding: 10px;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #041322;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #006266;
    cursor: pointer;
}
.home_section .dectecton_nav i{
    font-size: 35px;
    color: #1B1464;
}

.home_section .dectecton_nav:hover{
    transform: scale(1.1);
    background-color: aqua;

}