@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: inherit;
	list-style: none;
	text-decoration: none;
	word-wrap: break-word;
	transition: all 0.2s;
}

body {
	background: url("/static/images/Background.jpg") no-repeat fixed;
	background-size: cover;
	animation: fading_animation 2s ease-in 1 linear forwards;
}


label,button,a,span,li,td{
	cursor: pointer;
}

.red{
	color: red;
}
.gray{
	color: gray;
}