.prediction{
	display: flex;
	justify-content: center;
	/* align-items: center; */
    flex-direction: column;
	min-height: 80vh;
    padding-left: 60px;
}
.prediction >h1{
    margin: 20px;
    color: white;
    font-weight: bolder;
}
#input_container{
    display: flex;
}
#input_container form{
    min-height: 50vh;
    width: 600px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.85;
}

#input_container form h1{
    margin-bottom: 50px;

}


#input_container form button {
    margin: 20px;
    padding: 5px 40px;
    font-size: 1.3em;
    background: coral;
    color: white;
    border-radius: 5px;
}
#input_container form >label {
	padding: 10px 20px;
    background-color: coral;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1.4em;
}



#waitingSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



#output_container {
    display: none;
    /* justify-content: center; */
    align-items: center;
    min-height: 70vh;
    margin-bottom: 50px;
}
#output_container img {
    width: 400px;
}

#output_container h1 {
    font-size: 30px;
    text-align: center;
    color: blue;
}
#output_container section {
    background-color: #f1f2f6;
    min-width: 300px;
    width: 1100px;
    min-height: 500px;
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}


#detectionresult h2{
    font-weight: bolder;
    font-size: 1.3em;
    text-align: center;
    margin: 20px;
}