{% include '/components/default_start.html' %} {% include
    '/components/header.html' %}
    <div style="text-align: right;">
        Photo by <a href="https://unsplash.com/@cadop?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mathew Schwartz</a> on <a href="https://unsplash.com/photos/8rj4sz9YLCI?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </div>
    <div class="prediction">
        <h1><i class="fas fa-skull"></i> Bone Detection System</h1>
        <section id="input_container">
            <form onsubmit="SubmitFile(event)">
                <h1>Please Upload Your Image Here</h1>
                <label for="file">
                    <i class="fas fa-upload"></i>
                    <span id="file_name"> Select Bone X-Ray Image </span>
                </label>
                <input
                    style="display: none"
                    type="file"
                    name="file"
                    id="file"
                    onchange="updateFileName(event)"
                    placeholder="Upload File Here"
                    required
                />
                <button type="submit">Submit</button>
                
            </form>
        </section>
    
        <div id="output_container">
            <section>
                <div class="image">
                    <img
                        id="image"
                        src="{{url_for('static',filename='images/data/image1.jpg')}}"
                        alt=""
                    />
                </div>
                <div class="output">
                    <h1>Output</h1>
                    <div id="detectionresult">
                        <div id="waitingSpinner">
                            <div class="spinner"></div>
                            <p style="margin: 10px 0 0 0">We are Working</p>
                            <p>please wait ....</p>
                        </div>
                        <!-- <h2>Crop and their prediction values</h2>
                            <ul>
                                <li><span class="red">Cotton</span> -- >  <b>50%</b></li>
                            </ul> -->
                    </div>
                </div>
            </section>
        </div>
    </div>

        
    {% include '/components/loader.html' %} {% include '/components/footer.html' %}
    {% include '/components/default_end.html' %}
    